.widgetEntry {
  width: 100%;
  align-items: center;
  margin-top: 5%;
  .entryImg {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-right: 10px;
  }
  .entryRightBody {
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    .entryTitle {
      font-weight: 700;
      font-size: 16px;
      color: #c9d8e3;
      margin: 0 0 5px;
    }
    .entrySub {
      font-weight: 400;
      font-size: 12px;
      color: #c4d0e37c;
      margin: 0;
    }
  }
}
