.screenContainer {
  width: calc(100% - 100px);
  height: 100%;
  background: #1e2a3e;
  border-radius: 30px;
  background-color: #040f19;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      #040f19 100px
    ),
    repeating-linear-gradient(#17126755, #2a2f86);
}

.flex {
  display: flex;
}
