.loginPage {
  background: #1f1f1f;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .logo {
    width: 10%;
  }
  h1 {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  a {
    text-decoration: none;
    .login-btn {
      width: 200px;
      padding: 15px 0px;
      text-align: center;
      background: #fefefe;
      border-radius: 50px;
      color: #1f1f1f;
      font-weight: 600;
      margin-top: 20%;
    }
  }
}
