.leftPlayerBody {
  width: 70%;
  margin-right: 2%;
  height: 100%;
}
.rightPlayerBody {
  width: 30%;
  height: 100%;
  align-items: center;
  flex-direction: column;

  justify-content: space-between;
}
